<!DOCTYPE html>
<html>
<head>
<!--<meta charset="windows-1255">-->
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GraphsApp_build_version</title>

<!--Include librarieZ-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!--Include js code libraries-->

<script type="text/javascript" src="../lib/main.js"></script>

<!-- CSS -->
<link href="../css/design.css" type="text/css" rel="stylesheet">

</head>

<body onload="initApp()">

    <div id="chart"></div>

    <!--Debug section-->
    <p id="debug1"></p>
    <p id="debug2"></p>
    <p id="debug3"></p>
    <p id="debug4"></p>
    <p id="debug5"></p>
    <p id="debug6"></p>
    <p id="debug7"></p>
    <p id="debug8"></p>
    <p id="debug9"></p>
    <p id="debug10"></p>

</body>

</html>